@charset "utf-8";
/* CSS Document */
.projects-header {
    width: 60%;
    text-align: center;
    margin: 60px 0 10px;
    font-weight: 200;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.projects-header h2 {
    font-size: 30px;
    letter-spacing: -1px;
}
.h1, .h2, .h3, .h4, .lead, h1, h2, h3, h4 {
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
p {
    margin: 0 0 10px;
}
.projects .thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 310px;
    margin-bottom: 30px;
    border-radius: 0;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.projects .thumbnail img {
    max-width: 100%;
    height: auto;
}
.projects .thumbnail .caption {
    height: 200px;
    overflow-y: hidden;
    color: #555;
}
.thumbnail .caption {
    padding: 9px;
    color: #333;
}